body {
  background-color: #000;
  color: #daa520;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 20px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  padding-left: 40px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.button-class {
  background-color: #000;
  color: #daa520;
  border-color: #daa520;
  border-width: 5px;
  width: 30%;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  font-family: inherit;
  font-size: 20px;
  margin: 4px 4px;
  cursor: pointer;
  opacity: 0.8;
}

.button-class:hover {
  border-color: #c0c0c0;
}

.pokemonball {
  height: 180px;
  width: 180px;
}

.hidden {
  display: none;
}

/* making it responsive on all common screen sizes. */
@media all and (min-width: 500px) and (max-width: 750px) {
  .button-class {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}
