:root {
  --primary-color: #000;
  --secondary-color: #daa520;
  --tertiary-color: #fff;
  --quaternary-color: #c0c0c0;
  --primary-font-size: 30px;
  --secondary-font-size: 20px;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: var(--primary-font-size);
  text-align: center;
  line-height: 1.6;
}

/* About Page */
.about-page {
  text-align: left;
  padding: 20px 0 0 0;
}

.github {
  height: 30px;
  width: 30px;
}

.footer {
  padding: 70px 0 0 0;
}

/* size for the pk image */
.pokemon-ball {
  height: 180px;
  width: 180px;
}

/* Sets the style for the buttons(Modal) */
.button-class {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-width: 5px;
  padding: 40px 0;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  font-family: inherit;
  font-size: var(--primary-font-size);
  margin: 4px 4px;
}

.button-class:hover {
  border-color: var(--quaternary-color);
}

/* Sets the size for the image used in the Modal */
img {
  width: 70%;
  height: 70%;
  display: flex;
  margin: auto;
}

/* Hidden class for loading message */
.hidden {
  display: none;
}

/* scroll-button style + function */
.scroll-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  display: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

/* making it responsive on all common screen sizes. */

@media all and (max-width: 450px) {
  .button-class {
    width: 100%;
  }

  h2,
  .about-li {
    font-size: var(--secondary-font-size);
  }
}
